<div class="sub_container">
    <p class="sub_title">{{ Dashboard.title}}</p>
    <p class="sub_sub_title">Pending transactions show 0.00 amounts until finalized.</p>
    <div class="sub_content">
        <div class="no_subscription_message" data-ng-hide="Dashboard.subscriptions.length">
            Sorry, so subscriptions found.
        </div>
        <div class="subscriptions-list">
            <table>
                <tr>
                    <th>Subscriber Email</th>
                    <th>Subscribed At</th>
                    <th>Last Payment</th>
                    <th>Amount</th>
                    <th>PayPal Fee</th>
                    <th>Subscription Expires</th>
                    <th>Details</th>
                </tr>
                <tr data-ng-repeat="sub in Dashboard.subscriptions" >
                    <td class="sub_email">{{ sub.email_address}}</td>
                    <td class="sub_start">{{ sub.subscribed_at}}</td>
                    <td class="sub_last_pay">{{ sub.last_transaction}}</td>
                    <td class="sub_last_pay_amount">{{ sub.transaction_amount}}</td>
                    <td class="sub_last_pay_fee">{{ sub.transaction_fee}}</td>
                    <td class="sub_expires">{{ sub.expires_at}}</td>
                    <td class="sub_details"><a target="_blank" 
                                               href="https://www.sandbox.paypal.com/us/cgi-bin/webscr?cmd=_profile-recurring-payments&encrypted_profile_id={{ sub.subscription_id}}&PimpHistoryType=15">Details</a></td> 
                </tr>
            </table>
        </div>
    </div>
</div>