<div class="modal-container">
    <h2 class="modal-title">Password Assistance</h2>
    <p class="modal-paragraph">Input the email address you signed up with and we will send password reset instructions.</p>
    <div style="margin-bottom:8px;" 
         data-ng-show="resetMessage">
        Check your email for password reset instructions.
    </div>
    <div class="feildset">
        <input class="feildset-input feildset-input-top" 
               type="text" 
               name="email_address" 
               size="30" 
               maxlength="150" 
               placeholder="Email">
    </div>
    <div class="feildset">
        <button class="uilib-btn connect modal-button" id="loginButton" data-ng-click="passwordReset()">Reset Password</button>
    </div>
    <div class="feildset">
        <button class="button-link" data-ng-click="$location.path('/')">Go back</button>
    </div>
</div>