<div class="modal-container">
    <h2 class="modal-title">Login</h2>
    <p class="modal-paragraph"></p>
    <div style="margin-bottom:8px;" 
         data-ng-show="loginMessage">
        Login Failed
    </div>
    <div class="feildset">
        <input class="feildset-input feildset-input-top" 
               type="text" 
               name="email_address" 
               size="30" 
               maxlength="150" 
               placeholder="Email"
               data-ng-model="cred.Id">
    </div>
    <div class="feildset">
        <input class="feildset-input feildset-input-bottom" 
               type="password" 
               name="user_password" 
               size="30" 
               maxlength="150" 
               placeholder="Password"
               data-ng-model="cred.Pw">
    </div>
    <div class="feildset">
        <button class="uilib-btn connect modal-button" id="loginButton" data-ng-click="attemptLogin()">Login</button>
    </div>
    <div class="feildset">
        <button class="button-link" data-ng-click="$location.path('/')">Go back</button>
    </div>
    <div class="feildset" style="text-align:right">
        <button class="button-link" data-ng-click="$location.path('/forgot')">I Forgot My Password</button>
    </div>
</div>
