<style>
    th, td {
        padding: 2px 20px;
    }
</style>

<header class="box">
    <div class="logo">
        <img width="86" src="images/PGicon.png" alt="logo"/>
    </div>
    <div class="loggedOut" data-ng-hide="subscriptions.PayPalIsConnected">
        <p translate="description">
        </p>

        <div class="login-panel" >
            <p class="create-account" translate="create"></p>
            <button class="submit uilib-btn connect" data-ng-click="paypalConnect()">{{'connect'| translate}}</button>
        </div>
    </div>
    <div class="loggedIn" data-ng-show="subscriptions.PayPalIsConnected">
        <p>{{'connected'| translate:params}}<br/>
            <a class="disconnect-account" data-ng-click="paypalDisconnect()">{{'disconnect'| translate}}</a>
        </p>
        <div class="premium-panel" data-ng-hide="subscriptions.PremiumApp">
            <p class="premium-features ">{{'premium'| translate}}</p>
            <button class="submit uilib-btn btn-upgrade upgrade" data-ng-click="showUpgrade()">{{'upgrade'| translate}}</button>
        </div>
        <div class="premium-panel" data-ng-show="subscriptions.PremiumApp">
            <p class="premium-features ">{{'premiumApp'| translate}}</p>
        </div>
    </div>
</header>

<div wix-ctrl="Accordion">

    <div class="acc-pane">
        <h3>Page Guard BLOCKING Look and Feel: </h3>

        <div class="acc-content">
            <ul class="list">
                <li wix-label="Text Color:">
                    <div wix-param="textColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor:'color-5'}"></div>
                </li>
                <li wix-label="Background Color:">
                    <div wix-param="backgroundColor" wix-ctrl="ColorPickerWithOpacity"
                         wix-options="{startWithColor:'color-1', startWithOpacity:'0'}"></div>
                </li>
                <li wix-label="Title">
                    <div wix-model="blockerTitle" wix-ctrl="Input" wix-options="{placeholder:'Title'}"></div>
                </li>
                <li wix-label="Call To Action">
                    <div wix-model="blockerCtaParagraph" wix-ctrl="Input" wix-options="{size:'x-large',placeholder:'Members Only Area. Login or Signup for Access'}"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="acc-pane">
        <h3>Protected Pages: </h3>
        <div class="acc-content">
            <ul class="list">
                <li data-ng-repeat="(key, value) in viewVars.allPages" >
                    <div data-ng-if="value.id == viewVars.mainPage.id">{{value.title}} <span style="font-size:smaller;">(The main page cannot be PageGuard protected.)</span></div> 
                    <div data-ng-if="value.id != viewVars.mainPage.id" wix-model="page_{{ value.id}}" wix-ctrl="Checkbox" wix-options="{postLabel:'{{value.title}}'}"></div> 
                    <div data-ng-if="value.subPages" style="display:block;">
                        <ul class="list">
                            <li data-ng-repeat="(subkey, subvalue) in value.subPages">
                                <div wix-model="page_{{ subvalue.id}}" wix-ctrl="Checkbox" wix-options="{postLabel:'{{ subvalue.title}}'}"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="acc-pane">
        <h3>Subscriptions: </h3>

        <div class="acc-content">
            <ul class="list">
                <li wix-label="Example User:" data-ng-hide="subscriptions.PremiumApp">
                    <p>An example user has been created for your use and testing.
                        Upgrade to premium to deactivate this user and start 
                        selling subscriptions.</p>
                    <ul class="list">
                        <li wix-label="User Email:">{{ subscriptions.example.email}} </li>
                        <li wix-label="User Password:">{{ subscriptions.example.password}} </li>
                    </ul>
                </li>
            </ul>
            <div wix-ctrl="Tabs" wix-options="{value:0}"  style="margin: 0px" data-ng-show="subscriptions.PremiumApp">
                <ul>
                    <li data-tab="tab0"><div>Plan 1</div></li>
                    <li data-tab="tab1"><div>Plan 2</div></li>
                    <li data-tab="tab2"><div>Plan 3</div></li>
                    <li data-tab="tab3"><div>Plan 4</div></li>
                </ul>
                <div>
                    <div class="tab-content">
                        <div data-ng-show="subscriptions.planError" class="alert alert-danger">{{ subscriptions.planError}}</div>
                        <div data-tab="tab0" class="tab-pane" style="height:200px">
                            <table>
                                <tr>
                                    <th colspan="2">
                                        Plan One
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Name"
                                             wix-tooltip="{placement:'bottom',text:'For Select (Cannot be blank)'}">
                                        </div>
                                    </td> 
                                    <td>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium'}"
                                             wix-model="sub_one_name"
                                             wix-ctrl="Input"
                                             id="sub_one_name_div"
                                             data-ng-hide="subscriptions.sub_one.active">
                                        </div>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium', disabled:'true'}"
                                             wix-model="display_sub_one_name"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_one.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Currency"></div>
                                    </td>
                                    <td>    
                                        <div wix-model="sub_one_currency" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'50',height:'100', value:'GBP'}"
                                             data-ng-hide="subscriptions.sub_one.active">
                                            <div value="USD" >USD</div>
                                            <div value="AUD" >AUD</div>
                                            <div value="BRL" >BRL</div>
                                            <div value="GBP" >GBP</div>
                                            <div value="CAD" >CAD</div>
                                            <div value="CZK" >CZK</div>
                                            <div value="DKK" >DKK</div>
                                            <div value="EUR" >EUR</div>
                                            <div value="HKD" >HKD</div>
                                            <div value="HUF" >HUF</div>
                                            <div value="ILS" >ILS</div>
                                            <div value="JPY" >JPY</div>
                                            <div value="MXN" >MXN</div>
                                            <div value="TWD" >TWD</div>
                                            <div value="NZD" >NZD</div>
                                            <div value="NOK" >NOK</div>
                                            <div value="PHP" >PHP</div>
                                            <div value="PLN" >PLN</div>
                                            <div value="RUB" >RUB</div>
                                            <div value="SGD" >SGD</div>
                                            <div value="SEK" >SEK</div>
                                            <div value="CHF" >CHF</div>
                                            <div value="THB" >THB</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_one_currency"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_one.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Period"></div>
                                    </td>
                                    <td>
                                        <div wix-model="sub_one_period" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'100',height:'100', value:'M'}"
                                             data-ng-hide="subscriptions.sub_one.active">
                                            <div value="D" >Daily</div>
                                            <div value="W" >Weekly</div>
                                            <div value="M" >Monthly</div>
                                            <div value="Y" >Yearly</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_one_period"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_one.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Price"
                                             wix-tooltip="{placement:'top',text:'(Numbers ONLY please)'}">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-options="{placeholder: '0.5', size:'medium'}"
                                             wix-model="sub_one_price"
                                             wix-ctrl="Input" id="sub_one_price_div"
                                             data-ng-hide="subscriptions.sub_one.active">
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_one_price"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_one.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Status">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-label="{{ subscriptions.sub_one.subscriptionStatus}}">
                                        </div> 
                                    </td> 
                                </tr>
                                <tr>
                                    <td>
                                        <button data-ng-show="subscriptions.sub_one.active" 
                                                class="submit uilib-btn disconnect-account" 
                                                data-ng-click="deActivatePlan('sub_one')">
                                            Deactivate Plan
                                        </button>
                                    </td>
                                    <td>
                                        <button data-ng-hide="subscriptions.sub_one.active" 
                                                class="submit uilib-btn connect" 
                                                data-ng-click="activatePlan('sub_one')">
                                            Activate Plan
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div data-tab="tab1" class="tab-pane" style="height:200px">
                            <table>
                                <tr>
                                    <th colspan="2">
                                        Plan Two
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Name"
                                             wix-tooltip="{placement:'bottom',text:'For Select (Cannot be blank)'}">
                                        </div>
                                    </td> 
                                    <td>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium'}"
                                             wix-model="sub_two_name"
                                             wix-ctrl="Input"
                                             id="sub_two_name_div"
                                             data-ng-hide="subscriptions.sub_two.active">
                                        </div>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium', disabled:'true'}"
                                             wix-model="display_sub_two_name"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_two.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Currency"></div>
                                    </td>
                                    <td>    
                                        <div wix-model="sub_two_currency" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'50',height:'100', value:'GBP'}"
                                             data-ng-hide="subscriptions.sub_two.active">
                                            <div value="USD" >USD</div>
                                            <div value="AUD" >AUD</div>
                                            <div value="BRL" >BRL</div>
                                            <div value="GBP" >GBP</div>
                                            <div value="CAD" >CAD</div>
                                            <div value="CZK" >CZK</div>
                                            <div value="DKK" >DKK</div>
                                            <div value="EUR" >EUR</div>
                                            <div value="HKD" >HKD</div>
                                            <div value="HUF" >HUF</div>
                                            <div value="ILS" >ILS</div>
                                            <div value="JPY" >JPY</div>
                                            <div value="MXN" >MXN</div>
                                            <div value="TWD" >TWD</div>
                                            <div value="NZD" >NZD</div>
                                            <div value="NOK" >NOK</div>
                                            <div value="PHP" >PHP</div>
                                            <div value="PLN" >PLN</div>
                                            <div value="RUB" >RUB</div>
                                            <div value="SGD" >SGD</div>
                                            <div value="SEK" >SEK</div>
                                            <div value="CHF" >CHF</div>
                                            <div value="THB" >THB</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_two_currency"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_two.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Period"></div>
                                    </td>
                                    <td>
                                        <div wix-model="sub_two_period" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'100',height:'100', value:'M'}"
                                             data-ng-hide="subscriptions.sub_two.active">
                                            <div value="D" >Daily</div>
                                            <div value="W" >Weekly</div>
                                            <div value="M" >Monthly</div>
                                            <div value="Y" >Yearly</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_two_period"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_two.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Price"
                                             wix-tooltip="{placement:'top',text:'(Numbers ONLY please)'}">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-options="{placeholder: '0.5', size:'medium'}"
                                             wix-model="sub_two_price"
                                             wix-ctrl="Input" id="sub_two_price_div"
                                             data-ng-hide="subscriptions.sub_two.active">
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_two_price"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_two.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Status">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-label="{{ subscriptions.sub_two.subscriptionStatus}}">
                                        </div> 
                                    </td> 
                                </tr>
                                <tr>
                                    <td>
                                        <button data-ng-show="subscriptions.sub_two.active" 
                                                class="submit uilib-btn disconnect-account" 
                                                data-ng-click="deActivatePlan('sub_two')">
                                            Deactivate Plan
                                        </button>
                                    </td>
                                    <td>
                                        <button data-ng-hide="subscriptions.sub_two.active" 
                                                class="submit uilib-btn connect" 
                                                data-ng-click="activatePlan('sub_two')">
                                            Activate Plan
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div data-tab="tab2" class="tab-pane" style="height:200px">
                            <table>
                                <tr>
                                    <th colspan="2">
                                        Plan One
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Name"
                                             wix-tooltip="{placement:'bottom',text:'For Select (Cannot be blank)'}">
                                        </div>
                                    </td> 
                                    <td>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium'}"
                                             wix-model="sub_three_name"
                                             wix-ctrl="Input"
                                             id="sub_three_name_div"
                                             data-ng-hide="subscriptions.sub_three.active">
                                        </div>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium', disabled:'true'}"
                                             wix-model="display_sub_three_name"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_three.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Currency"></div>
                                    </td>
                                    <td>    
                                        <div wix-model="sub_three_currency" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'50',height:'100', value:'GBP'}"
                                             data-ng-hide="subscriptions.sub_three.active">
                                            <div value="USD" >USD</div>
                                            <div value="AUD" >AUD</div>
                                            <div value="BRL" >BRL</div>
                                            <div value="GBP" >GBP</div>
                                            <div value="CAD" >CAD</div>
                                            <div value="CZK" >CZK</div>
                                            <div value="DKK" >DKK</div>
                                            <div value="EUR" >EUR</div>
                                            <div value="HKD" >HKD</div>
                                            <div value="HUF" >HUF</div>
                                            <div value="ILS" >ILS</div>
                                            <div value="JPY" >JPY</div>
                                            <div value="MXN" >MXN</div>
                                            <div value="TWD" >TWD</div>
                                            <div value="NZD" >NZD</div>
                                            <div value="NOK" >NOK</div>
                                            <div value="PHP" >PHP</div>
                                            <div value="PLN" >PLN</div>
                                            <div value="RUB" >RUB</div>
                                            <div value="SGD" >SGD</div>
                                            <div value="SEK" >SEK</div>
                                            <div value="CHF" >CHF</div>
                                            <div value="THB" >THB</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_three_currency"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_three.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Period"></div>
                                    </td>
                                    <td>
                                        <div wix-model="sub_three_period" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'100',height:'100', value:'M'}"
                                             data-ng-hide="subscriptions.sub_three.active">
                                            <div value="D" >Daily</div>
                                            <div value="W" >Weekly</div>
                                            <div value="M" >Monthly</div>
                                            <div value="Y" >Yearly</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_three_period"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_three.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Price"
                                             wix-tooltip="{placement:'top',text:'(Numbers ONLY please)'}">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-options="{placeholder: '0.5', size:'medium'}"
                                             wix-model="sub_three_price"
                                             wix-ctrl="Input" id="sub_three_price_div"
                                             data-ng-hide="subscriptions.sub_three.active">
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_three_price"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_three.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Status">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-label="{{ subscriptions.sub_three.subscriptionStatus}}">
                                        </div> 
                                    </td> 
                                </tr>
                                <tr>
                                    <td>
                                        <button data-ng-show="subscriptions.sub_three.active" 
                                                class="submit uilib-btn disconnect-account" 
                                                data-ng-click="deActivatePlan('sub_three')">
                                            Deactivate Plan
                                        </button>
                                    </td>
                                    <td>
                                        <button data-ng-hide="subscriptions.sub_three.active" 
                                                class="submit uilib-btn connect" 
                                                data-ng-click="activatePlan('sub_three')">
                                            Activate Plan
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div data-tab="tab3" class="tab-pane" style="height:200px">
                            <table>
                                <tr>
                                    <th colspan="2">
                                        Plan One
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Name"
                                             wix-tooltip="{placement:'bottom',text:'For Select (Cannot be blank)'}">
                                        </div>
                                    </td> 
                                    <td>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium'}"
                                             wix-model="sub_four_name"
                                             wix-ctrl="Input"
                                             id="sub_four_name_div"
                                             data-ng-hide="subscriptions.sub_four.active">
                                        </div>
                                        <div wix-options="{placeholder: '£0.50 GBP - Weekly', size:'medium', disabled:'true'}"
                                             wix-model="display_sub_four_name"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_four.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Currency"></div>
                                    </td>
                                    <td>    
                                        <div wix-model="sub_four_currency" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'50',height:'100', value:'GBP'}"
                                             data-ng-hide="subscriptions.sub_four.active">
                                            <div value="USD" >USD</div>
                                            <div value="AUD" >AUD</div>
                                            <div value="BRL" >BRL</div>
                                            <div value="GBP" >GBP</div>
                                            <div value="CAD" >CAD</div>
                                            <div value="CZK" >CZK</div>
                                            <div value="DKK" >DKK</div>
                                            <div value="EUR" >EUR</div>
                                            <div value="HKD" >HKD</div>
                                            <div value="HUF" >HUF</div>
                                            <div value="ILS" >ILS</div>
                                            <div value="JPY" >JPY</div>
                                            <div value="MXN" >MXN</div>
                                            <div value="TWD" >TWD</div>
                                            <div value="NZD" >NZD</div>
                                            <div value="NOK" >NOK</div>
                                            <div value="PHP" >PHP</div>
                                            <div value="PLN" >PLN</div>
                                            <div value="RUB" >RUB</div>
                                            <div value="SGD" >SGD</div>
                                            <div value="SEK" >SEK</div>
                                            <div value="CHF" >CHF</div>
                                            <div value="THB" >THB</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_four_currency"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_four.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div  wix-label="Subscription Period"></div>
                                    </td>
                                    <td>
                                        <div wix-model="sub_four_period" 
                                             wix-ctrl="Dropdown"
                                             wix-options="{width:'100',height:'100', value:'M'}"
                                             data-ng-hide="subscriptions.sub_four.active">
                                            <div value="D" >Daily</div>
                                            <div value="W" >Weekly</div>
                                            <div value="M" >Monthly</div>
                                            <div value="Y" >Yearly</div>
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_four_period"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_four.active">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Price"
                                             wix-tooltip="{placement:'top',text:'(Numbers ONLY please)'}">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-options="{placeholder: '0.5', size:'medium'}"
                                             wix-model="sub_four_price"
                                             wix-ctrl="Input" id="sub_four_price_div"
                                             data-ng-hide="subscriptions.sub_four.active">
                                        </div>
                                        <div wix-options="{disabled:'true'}"
                                             wix-model="display_sub_four_price"
                                             wix-ctrl="Input"
                                             data-ng-show="subscriptions.sub_four.active">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div wix-label="Subscription Status">
                                        </div>
                                    </td>
                                    <td>
                                        <div wix-label="{{ subscriptions.sub_four.subscriptionStatus}}">
                                        </div> 
                                    </td> 
                                </tr>
                                <tr>
                                    <td>
                                        <button data-ng-show="subscriptions.sub_four.active" 
                                                class="submit uilib-btn disconnect-account" 
                                                data-ng-click="deActivatePlan('sub_four')">
                                            Deactivate Plan
                                        </button>
                                    </td>
                                    <td>
                                        <button data-ng-hide="subscriptions.sub_four.active" 
                                                class="submit uilib-btn connect" 
                                                data-ng-click="activatePlan('sub_four')">
                                            Activate Plan
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
