<div class="modal-container">
    <h2 class="modal-title">Sign Up</h2>
    <p class="modal-paragraph">Please enter the email address and password you would like to use to access your membership area.</p>
    <div style="margin-bottom:8px;" 
         data-ng-show="userMessage" 
         data-ng-click="$location.path('/login')">
        <u>Email Exists !! Click Here To Log In</u>
    </div>
    <div style="margin-bottom:8px;" 
         data-ng-show="emailMessage" >
        <u>That's Not A Valid Email Address</u>
    </div>
    <div class="feildset">
        <input class="feildset-input feildset-input-top" 
               type="text" 
               name="email_address" 
               size="30" 
               maxlength="150" 
               placeholder="Email"
               onChange="angular.element(this).scope().checkEmail(this)">
    </div>
    <div class="feildset">
        <input class="feildset-input feildset-input-bottom" 
               type="password" 
               name="user_password" 
               size="30" 
               maxlength="150" 
               placeholder="Password"
               onChange="angular.element(this).scope().checkPw(this)">
    </div>
    <div class="feildset" style="margin:8px 0">
        <p style="font-size: smaller;">Please note it may take a minute or two for Paypal to process your payment. After processing completes. you will be redirected.</p> 
    </div> 
    <div data-ng-hide="plans.activePlans.length === 0">
        <div class="feildset">
            <select class="select-input" data-ng-model="plans.selectedPlan" data-ng-options="sub.name for sub in plans.activePlans">
            </select>
        </div>
        <div class="checkout-box">
            <p class="checkout-box-title">{{plans.selectedPlan.name}} Selected</p>
            <div data-ng-bind-html="$sce.trustAsHtml(plans.selectedPlan.button_code.replace('_top', '_blank'))"></div>
        </div>
    </div>
    <div data-ng-show="plans.activePlans.length === 0">
        <div class="fieldset">
            <h4>Sorry, no active plans detected.</h4>
            <p>If you are the site owner check that you have at least one active plan in settings.</p>
        </div>
    </div>
    <button class="button-link" data-ng-click="$location.path('/')">Go back</button>
</div>

