
<div class="modal-container">
    <p class="modal-title">{{ Settings.blockerTitle|simpledecode}}</p>
    <p class="modal-paragraph">{{ Settings.blockerCtaParagraph|simpledecode}}</p>
    <button class="uilib-btn connect modal-button" id="loginButton" data-ng-click="$location.path('/login')">Login</button>
    <button class="uilib-btn connect modal-button" id="signUpButton" data-ng-click="$location.path('/signup')">Sign Up</button>
    <!--<button data-ng-click="noThanks()">No Thanks</button>-->
</div>
