/*RESET*/
html, body, div, section, article, span, figure, figcaption, caption, 
img, h1, h2, h3, h4, h5, h6, p, a, button, blockquote, pre, abbr, address, 
small, strong, sub, sup, ol, ul, li, fieldset, form, label, input, select, output, 
textarea, legend, table, tr, th, td, dl, dt, dd, footer, header, hgroup, aside, menu, nav, 
time, mark, audio, video, canvas, embed, iframe, object, hr {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: none;
    outline: none;
    font: inherit;
    text-decoration: none;
    cursor: default;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*,*:before,*:after { 
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img, a {
    display: block;
}
textarea {
    resize: vertical;
}
::-webkit-search-decoration {
    display:none;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
}
body {
    font-family: 'arial', sans-serif;
    font-size: 1em;
}

.modal-container {
    padding: 30px;
    margin: 30px auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-paragraph {
    margin-bottom: 20px;
}

.modal-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4E86EA;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.modal-button:hover {
    -webkit-box-shadow: inset 0px 0px 10px 200px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 10px 200px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 10px 200px rgba(0,0,0,0.15);
}
.fieldset {
    position: relative;
    padding: 0 50px;
}

.feildset .feildset-input,
.feildset .select-input {
    color: #535A66;
    border: 1px solid #C7CFD9;
    border-radius: 5px;
    padding: 8px 10px;
    position: relative;
    cursor: text;
    width: 100%;
}

.feildset .feildset-input.feildset-input-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.feildset .feildset-input.feildset-input-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.feildset .select-input {
    margin-top: 15px;
    cursor: pointer;
}

.checkout-box {
    border-radius: 5px;
    border: 1px solid #F0F2F5;
    margin-top: 15px;
    padding: 20px;
}

.checkout-box .checkout-box-title {
    margin-bottom: 13px;
    color: #39B672;
}

.checkout-box form * {
    cursor: pointer;
}

.button-link {
    color: #989EA6;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 15px;
}
.button-link:hover {
    opacity: 0.8;
}
#loginButton{
    margin: 8px;
}
.sub_container {
    padding: 20px;
}

.sub_title, .sub_sub_title {
    color: #3F7EEB;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.sub_sub_title{
    font-size:smaller;
}

.sub_content {

}

.no_subscription_message {
    color: #EB1052;
}

.subscriptions-list {
    border: 1px solid #F0F3F7;
    padding: 15px;
    border-radius: 10px;
}

.subscriptions-list table {
    width: 100%;
    text-align: left;
    color: #3D4654;
}

.subscriptions-list th {
    padding: 10px;
    border-bottom: 1px solid #F0F3F7;
    font-weight: bold;
}

.subscriptions-list tr {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.subscriptions-list .subscription-box:hover {
    background-color: #F0F3F7
}

.subscriptions-list td {
    padding: 10px;
}

.subscriptions-list td a {
    color: inherit;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.subscriptions-list td a:hover {
    color: #3F7EEB;
}